.location {
  margin: var(--space-3) 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: var(--space-3);
  width: 90%;
}

.callus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.location .contacts {
  text-align: end;
}

.address {
  font-size: 2rem;
}
.contacts {
  font-size: 1.5rem;
}
.sub_title {
  margin: var(--space-3) 0;
  text-align: start;
  font-size: 3rem;
}

@media (min-width: 600px) {
  .location {
    flex-direction: row;
  }
  .label {
      display: block;
  }
}
