@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap');

/* can now reference my font */
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/* .-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'*, */
/*            CSS VARIABLES             */
/* .-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'rz */

:root {
  --primary: rgb(1, 104, 32);
  --secondary: rgb(59, 185, 207);
  --bgDefault: rgb(63, 40, 40);
  --bgDark: rgb(107, 19, 19);
  --bgLight: rgb(179, 90, 90);
  --bgTransparent: rgba(179, 90, 90, 0.466);
  --shadow-1: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  --shadow-2: 0px 3px 5px 0px rgb(182, 83, 83, 0.5);

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;

  /* .-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'*, */
  /*                    FONT SIZES              */
  /* .-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'*,.-°'rz */

  --font-1: 'Montserrat', sans-serif;
  --font-2: 'Capriola', sans-serif;

  --title-1: 1.9rem;
  --title-2: 1.7rem;
  --title-3: 1.2rem;
  --title-4: 1rem;
  --body-1: 1.6rem;
  --body-2: 1.3rem;
  --body-3: 1rem;
}
