
.link{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    width: auto;

}

.link:hover {
    -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
    filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
}

